section {
    display: flex;
    height: 91vh;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 600px;
}

.container h1 {
    font-size: 5rem;
    font-weight: 600;
}

.container p {
    color: gray;
    margin: 28px 0;
    font-size: 1.3rem;
}

.container a {
    padding: 8px;
    width: 70%;
    font-size: 24px;
}

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
    }

    .container h1 {
        font-size: 2.8rem;
    }

}